




/* banner Section */

.first_section{
    background-image: url(../images/banner/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.parallax-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 70%);
    z-index: 0;
}
.banner_content{
    position: relative;
    padding: 180px 0 100px 0;
}
.banner_content .main_tiltle{
    padding: 10px 0 20px 0;
}
.banner_content p {
    margin-bottom: 72px;
    color: #ffffff;
}



/* appointment Section */

.appointment_section{
    background-image: url(../images/appointment/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-bottom: 230px;
}
.static_content, .appointment_form{
    position: relative;
}
.progress-counter{
    position: relative;
    margin-bottom: 40px;
}
.progress-counter:last-child {
    margin-bottom: 0;
}
.progress-title{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}
.reveal.active .progress-value {
    animation: animate-counter 2.5s;
}
.progress-value {
    top: 0px;
    margin-left: -20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
    position: absolute;
    color: #ffffff;
}
.skil-progressbar {
    position: relative;
    background-color: rgb(255 255 255 / 15%);
    border-radius: 0;
    height: 2px;
}
.reveal.active .skil-progressbar span {
    animation: animate-positive 2.5s;
}
.skil-progressbar span {
    height: 8px;
    background-color: #00927D;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.appointment_form{
    backdrop-filter: blur(10px);
    padding: 50px;
    background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 0px rgb(255 255 255 / 32%);
}
.form_start .input_area{
    margin-bottom: 20px;
}
.input_area .inputt-text{
    width: 100%;
    height: 60px;
    background: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
    border: none;
    outline: none;
    padding: 20px 20px;
    border-radius: 10px;
}
.form_start .input_area textarea {
    height: 138px;
}
.form_start .input_area button{
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

