body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-style: normal;
  font-family: 'Overpass', sans-serif;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 91px;
  color: #ffffff;
  font-family: 'Overpass', sans-serif;
}
h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 61px;
  color: #000000;

  @include tablet {
    font-size: 28px;
    line-height: 42px;
  }
}
h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: $green-primary;
}
h6 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
}
span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDE8CD;
}
a {
  color: #ffffff;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  outline: none;
}
img {
  display: inline-block !important;
}
ul {
  margin-bottom: 0px;
  padding: 0;
}
li {
  list-style: none;
  position: relative;
}
a:hover{
  cursor: pointer;
}
a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  outline: none;
  transition: all 0.1s linear;
  transform: translate3d(0, 0, 0);
}
#wrap {
  overflow: hidden;
  position: relative;
}
.form-control:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}
input:focus-visible {
  outline: none;
}
.row>*{
  padding-left: 15px;
  padding-right: 15px;
}
.row{
  margin: 0 -15px;
}
.p-10{
  padding: 100px 0;
}
.mb-60 {
  margin-bottom: 60px;
}
.p-8{
  padding-bottom: 80px;
}
.p-30{
  padding-bottom: 30px;
}