@use 'mixins';

* {
  margin: 0;
  padding: 0;
}

.parallax-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0 0 0 / 70%);
  z-index: 0;

  &--80-deg {
    background: rgb(0 0 0 / 80%);
  }
}

.btn {
  background-color: #00927D;
  border-radius: 50px;
  padding: 20px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #00927D;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.btn:hover{
  color: #00927D;
}
.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.btn:hover::before {
  background-color: #ffffff;
  height: 100%;
  bottom: auto;
  top: 0;
}

.page-content-container {
  padding: 40px 40px 40px 37px;
  @include mixins.tablet {
    padding: 40px 35px;
  }
  @include mixins.mobile {
    padding: 40px 16px;
  }
}

.section {

  &__header {
    color: #00bda1;
    padding-bottom: 10px;
    display: inline-block;
  }

  &--main-banner {
    background-image: url(../images/banner/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  &--about {
    background: #FDE8CD;
  }

  &--review {
    background: #18120e;
    position: relative;
    overflow: hidden;

    > :before {
      position: absolute;
      content: "";
      width: 400px;
      height: 400px;
      opacity: 0.8;
      border-radius: 50%;
      top: -60px;
      left: -180px;
      background: mixins.$green-primary;
      -webkit-filter: blur(120px);
      filter: blur(120px);
      -webkit-animation: top-bottom-animation 4s linear infinite alternate;
      animation: top-bottom-animation 4s linear infinite alternate;
    }
    > :after {
      position: absolute;
      content: "";
      width: 400px;
      height: 400px;
      border-radius: 50%;
      bottom: 0;
      opacity: 0.8;
      right: -190px;
      background: $green-primary;
      -webkit-filter: blur(100px);
      filter: blur(100px);
      -webkit-animation: bottom-top-animation 4s linear infinite alternate;
      animation: bottom-top-animation 4s linear infinite alternate;
    }
  }

  &--price {
    background: mixins.$brown-dark;
    position: relative;
    padding: 100px 0;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 700px;
      opacity: 0.2;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      background: mixins.$green-primary;
      -webkit-filter: blur(120px);
      filter: blur(120px);
    }
  }

  &--statistics {
    background-image: url(../images/statistics/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-bottom: 250px;
    -webkit-box-shadow:
            inset 0 0 200px #040010,
            inset 0 0 200px #000,
            inset 0 0 200px #000;
    -moz-box-shadow:
            inset 0 0 200px #000,
            inset 0 0 200px #000,
            inset 0 0 200px #000;
    box-shadow:
            inset 0 0 200px #0c002d,
            inset 0 0 200px #0c002d,
            inset 0 0 200px #0c002d;
  }
}

.brand-logo {
  display: flex;
  align-items: center;

  &:hover * {
    color: $green-primary;
  }

  &:hover img {
    animation: 1s  0s normal none rotation;
    -webkit-animation: 1s  0s normal none rotation;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  img {
    max-height: 32px;
    margin-right: 1rem;
  }

  span {
    color: $white;
    font-family: "Comic Sans MS", sans-serif;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: auto;
      height: 1px;
      width: 100%;
      bottom: -8px;
      color: $beige-primary;
      background: $beige-primary;
    }
  }
}

