@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.parallax-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.parallax-overlay--80-deg {
  background: rgba(0, 0, 0, 0.8);
}

.btn {
  background-color: #00927D;
  border-radius: 50px;
  padding: 20px 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #00927D;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn:hover {
  color: #00927D;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn:hover::before {
  background-color: #ffffff;
  height: 100%;
  bottom: auto;
  top: 0;
}

.page-content-container {
  padding: 40px 40px 40px 37px;
}
@media (max-width: 1439px) {
  .page-content-container {
    padding: 40px 35px;
  }
}
@media (max-width: 767px) {
  .page-content-container {
    padding: 40px 16px;
  }
}

.section {
  padding: 100px 0;
}
@media (max-width: 1439px) {
  .section {
    padding: 50px 0;
  }
}
.section__header {
  color: #00bda1;
  padding-bottom: 10px;
  display: inline-block;
}
@media (max-width: 1439px) {
  .section__header {
    padding-bottom: 25px;
  }
}
.section--main-banner {
  background-image: url(../images/banner/banner-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.section--about {
  background: #FDE8CD;
}
.section--review {
  background: #18120e;
  position: relative;
  overflow: hidden;
}
.section--review > :before {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  opacity: 0.8;
  border-radius: 50%;
  top: -60px;
  left: -180px;
  background: #00bda1;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  -webkit-animation: top-bottom-animation 4s linear infinite alternate;
  animation: top-bottom-animation 4s linear infinite alternate;
}
.section--review > :after {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 50%;
  bottom: 0;
  opacity: 0.8;
  right: -190px;
  background: #00bda1;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  -webkit-animation: bottom-top-animation 4s linear infinite alternate;
  animation: bottom-top-animation 4s linear infinite alternate;
}
.section--price {
  background: #18120e;
  position: relative;
}
.section--price:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 700px;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: #00bda1;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}
.section--statistics {
  background-image: url(../images/statistics/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-bottom: 250px;
  -webkit-box-shadow: inset 0 0 200px #040010, inset 0 0 200px #000, inset 0 0 200px #000;
  -moz-box-shadow: inset 0 0 200px #000, inset 0 0 200px #000, inset 0 0 200px #000;
  box-shadow: inset 0 0 200px #0c002d, inset 0 0 200px #0c002d, inset 0 0 200px #0c002d;
}
@media (max-width: 1439px) {
  .section--statistics {
    padding-bottom: 50px;
  }
}

.brand-logo {
  display: flex;
  align-items: center;
}
.brand-logo:hover * {
  color: #00bda1;
}
.brand-logo:hover img {
  animation: 1s 0s normal none rotation;
  -webkit-animation: 1s 0s normal none rotation;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.brand-logo img {
  max-height: 32px;
  margin-right: 1rem;
}
.brand-logo span {
  color: #ffffff;
  font-family: "Comic Sans MS", sans-serif;
  position: relative;
}
.brand-logo span:before {
  position: absolute;
  content: "";
  left: 0;
  top: auto;
  height: 1px;
  width: 100%;
  bottom: -8px;
  color: #FDE8CD;
  background: #FDE8CD;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-style: normal;
  font-family: "Overpass", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 91px;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 61px;
  color: #000000;
}
@media (max-width: 1439px) {
  h2 {
    font-size: 28px;
    line-height: 42px;
  }
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #c40043;
}

h6 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
}

span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDE8CD;
}

a {
  color: #ffffff;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
  outline: none;
}

img {
  display: inline-block !important;
}

ul {
  margin-bottom: 0px;
  padding: 0;
}

li {
  list-style: none;
  position: relative;
}

a:hover {
  cursor: pointer;
}

a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  outline: none;
  transition: all 0.1s linear;
  transform: translate3d(0, 0, 0);
}

#wrap {
  overflow: hidden;
  position: relative;
}

.form-control:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

input:focus-visible {
  outline: none;
}

.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0 -15px;
}

.p-10 {
  padding: 100px 0;
}

.mb-60 {
  margin-bottom: 60px;
}

.p-8 {
  padding-bottom: 80px;
}

.p-30 {
  padding-bottom: 30px;
}

.footer {
  background-image: url(../images/footer/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 240px 0 100px 0;
}
@media (max-width: 1439px) {
  .footer {
    padding: 50px 0 50px 0;
  }
}
.footer__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.footer__brand-logo {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1439px) {
  .footer__brand-logo {
    margin-bottom: 20px;
  }
}
.footer__brand-logo:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #637381;
}
@media (max-width: 1439px) {
  .footer__brand-logo:after {
    position: relative;
    width: 200px;
    height: 1px;
    background: #637381;
    margin-top: 50px;
    border: none;
  }
}
.footer__brand-logo img {
  max-height: 150px;
  margin: -2.5rem auto 1.5rem auto;
}
@media (max-width: 1439px) {
  .footer__brand-logo img {
    max-height: 75px;
  }
}
.footer__place-detail {
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .footer__place-detail {
    height: 30px;
    line-height: 50px;
  }
}
.footer .place-detail {
  color: #ffffff;
}
.footer .place-detail__icon {
  font-size: 70px;
}
@media (max-width: 1439px) {
  .footer .place-detail__icon {
    font-size: 30px;
  }
}
.footer__detail-value {
  margin: 40px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #b7b7b7;
}
.footer__detail-value a {
  color: #ffffff;
}
@media (max-width: 1439px) {
  .footer__detail-value {
    margin-top: 20px;
  }
}
.footer__item {
  text-align: center;
}
@media (max-width: 1439px) {
  .footer__item {
    margin-bottom: 20px;
  }
}
.footer__item a:hover {
  color: #00bda1;
}
.footer__sub-footer {
  display: flex;
  align-items: center;
  padding-top: 100px;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .footer__sub-footer {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
  }
}
.footer__copyright .copyright__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #b7b7b7;
  margin: 0;
}
@media (max-width: 1439px) {
  .footer__copyright-privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__copyright-privacy .copyright-privacy__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 1439px) {
  .footer__copyright-privacy .copyright-privacy__link {
    color: #ffffff;
    margin-top: 18px;
  }
}
.footer__copyright-privacy .copyright-privacy__link:hover {
  color: #00bda1;
}
.footer__copyright-privacy .copyright-privacy__separator {
  margin: 0 15px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 1439px) {
  .footer__copyright-privacy .copyright-privacy__separator {
    display: none;
  }
}

.header {
  position: relative;
}
.header__navbar--sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 16;
  background-color: #18120e;
  border-bottom: #00bda1 solid 1px;
}
.header__navbar-collapse-js {
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 1439px) {
  .header__navbar-collapse {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 300px;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
    line-height: 34px;
    transform: translateX(-110%);
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 98px;
    padding-bottom: 98px;
    background: #18120e;
  }
  .header__navbar-collapse.static {
    transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 30px 98px;
    transition: all 0.3s ease-in-out;
    margin-top: 78px;
  }
}

@media (max-width: 1439px) {
  .header-navbar {
    height: 100%;
  }
  .header-navbar:first-child {
    margin-top: 1.5rem;
  }
}
@media (max-width: 1439px) {
  .header-navbar__panel {
    display: flex;
    align-items: center;
  }
}
.header-navbar__toggle-menu {
  display: none;
}
@media (max-width: 1439px) {
  .header-navbar__toggle-menu {
    display: inline-block !important;
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    color: #EA1C29;
    background-color: transparent;
    border: none;
    padding: 1px 6px;
    z-index: 999;
  }
}
.header-navbar__toggle-menu span {
  position: relative;
  display: block;
  margin: auto;
  transition: 0.3s all ease;
  width: 24px;
  height: 2px;
  background-color: #FDE8CD;
  backface-visibility: hidden;
  border-radius: 0;
}
.header-navbar__toggle-menu span:before, .header-navbar__toggle-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  transition: 0.3s all ease;
  width: 24px;
  height: 2px;
  background-color: #FDE8CD;
  backface-visibility: hidden;
  border-radius: 0;
}
.header-navbar__toggle-menu span:after {
  top: 8px;
}
.header-navbar__toggle-menu.static span {
  background: transparent;
}
.header-navbar__toggle-menu.static span:before {
  transform: rotate(45deg);
}
.header-navbar__toggle-menu.static span:after {
  transform: rotate(-45deg);
}
.header-navbar__toggle-menu.static span:after, .header-navbar__toggle-menu.static span:before {
  transform-origin: 50% 50%;
  top: 0;
}
.header-navbar__nav-item {
  display: inline-block;
}
@media (max-width: 1439px) {
  .header-navbar__nav-item {
    display: block;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 1439px) {
  .header-navbar__nav-item--application {
    margin-top: 42px;
  }
}
.header-navbar__nav-item--application:before {
  content: "";
  height: 100%;
  position: relative;
  border-left: 3px solid #00bda1;
  margin: auto 1rem auto 1rem;
}
@media (max-width: 1439px) {
  .header-navbar__nav-item--application:before {
    position: absolute;
    content: " ";
    left: 0;
    bottom: auto;
    height: 1px;
    width: 100%;
    top: -20px;
    color: #00bda1;
    background: #00bda1;
    border-radius: 50px;
    margin: 0;
  }
}
.header-navbar__nav-link {
  color: #FDE8CD;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding: 0;
  margin: 0 12px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1439px) {
  .header-navbar__nav-link {
    margin: 25px 0;
  }
}
.header-navbar__nav-link.active:before {
  position: absolute;
  content: "";
  left: 0;
  top: auto;
  height: 2px;
  width: 20px;
  bottom: -8px;
  color: #00bda1;
  background: #00bda1;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 50px;
}
.header-navbar__nav-link:hover::before {
  position: absolute;
  content: "";
  left: 0;
  top: auto;
  height: 2px;
  width: 20px;
  bottom: -8px;
  color: #00bda1;
  background: #00bda1;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 50px;
}
.header-navbar__nav-link--application {
  color: #ffffff;
}
.header-navbar__nav-link:hover {
  color: #00bda1;
}
.header-navbar__nav-link.active {
  color: #00bda1;
}
.header-navbar__nav-link.active:before {
  position: absolute;
  content: " ";
  left: 0;
  top: auto;
  height: 2px;
  width: 20px;
  bottom: -8px;
  color: #00bda1;
  background: #00bda1;
  border-radius: 50px;
}
.header-navbar__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px 25px 60px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1439px) {
  .header-navbar__wrap {
    padding: 15px;
  }
}
.header-navbar__brand {
  margin-left: 1.5rem;
}
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  background: -o-radial-gradient(circle, #333, #18120e) no-repeat;
  background: radial-gradient(circle, #333, #18120e) no-repeat;
  z-index: 999;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader {
  width: 90px;
  height: 90px;
  margin: 30px auto 100px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(45deg) rotate(45deg);
  transform: rotateX(45deg) rotate(45deg);
  position: relative;
}

.loader .loader-inner {
  width: 30px;
  height: 30px;
  background: #01eac7;
  -webkit-box-shadow: 112px 112px 20px #000;
  box-shadow: 112px 112px 20px #000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: loading-1 2s ease-in-out infinite both;
  animation: loading-1 2s ease-in-out infinite both;
}

.loader .loader-inner:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loader .loader-inner:nth-child(2) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.loader .loader-inner:before,
.loader .loader-inner:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
}

.loader .loader-inner:before {
  background: #00bda1;
  top: 100%;
  left: 0;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.loader .loader-inner:after {
  background: #00bda1;
  top: 0;
  left: 100%;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

@-webkit-keyframes loading-1 {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
  }
  12.5% {
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  25% {
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  37.5% {
    -webkit-transform: translate(60px, 30px);
    transform: translate(60px, 30px);
  }
  50% {
    -webkit-transform: translate(60px, 60px);
    transform: translate(60px, 60px);
  }
  62.5% {
    -webkit-transform: translate(30px, 60px);
    transform: translate(30px, 60px);
  }
  75% {
    -webkit-transform: translate(0, 60px);
    transform: translate(0, 60px);
  }
  87.5% {
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }
}
@keyframes loading-1 {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
  }
  12.5% {
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  25% {
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
  }
  37.5% {
    -webkit-transform: translate(60px, 30px);
    transform: translate(60px, 30px);
  }
  50% {
    -webkit-transform: translate(60px, 60px);
    transform: translate(60px, 60px);
  }
  62.5% {
    -webkit-transform: translate(30px, 60px);
    transform: translate(30px, 60px);
  }
  75% {
    -webkit-transform: translate(0, 60px);
    transform: translate(0, 60px);
  }
  87.5% {
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
  }
}
@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
    box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
  }
}
@-o-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
    box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
  }
}
@-webkit-keyframes animate-counter {
  0% {
    left: 0;
  }
}
@keyframes animate-counter {
  0% {
    left: 0;
  }
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
@-webkit-keyframes hero-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes hero-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
}
@-webkit-keyframes round-animation {
  0% {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes round-animation {
  0% {
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
  }
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes top-bottom-animation {
  0% {
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes top-bottom-animation {
  0% {
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes bottom-top-animation {
  0% {
    -webkit-transform: translateY(-220px);
    -ms-transform: translateY(-220px);
    transform: translateY(-220px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bottom-top-animation {
  0% {
    -webkit-transform: translateY(-220px);
    -ms-transform: translateY(-220px);
    transform: translateY(-220px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
    box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
  }
}
@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
    box-shadow: 0 0 0 0px hsla(255deg, 100%, 100%, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.01);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 1;
    transform: translateX(60px);
  }
  20% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    opacity: 1;
    transform: translateX(-30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
  }
}
@keyframes slide {
  0% {
    opacity: 1;
    transform: translateX(60px);
  }
  20% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    opacity: 1;
    transform: translateX(-30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
  }
}
@-webkit-keyframes slide-top {
  0% {
    opacity: 1;
    transform: translateY(60px);
  }
  20% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
@keyframes slide-top {
  0% {
    opacity: 1;
    transform: translateY(60px);
  }
  20% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
/************************ Scroll top-next section **********************/
.scroll-down {
  box-sizing: border-box;
  border: 2px solid #00bda1;
  position: relative;
  border-radius: 25px;
  margin: 0 auto 0 auto;
  display: inline-block;
  left: 50%;
  bottom: 40px;
  right: auto;
  padding: 10px;
}
@media (max-width: 1439px) {
  .scroll-down {
    display: none;
  }
}

.scroll-arrow {
  display: block;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #00bda1;
  border-bottom: 2px solid #00bda1;
  margin: 0 0 4px 0;
  width: 12px;
  height: 12px;
}

.arrow1,
.arrow2,
.arrow3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.arrow1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.arrow2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.arrow3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

/************************ Scroll bottom-top **********************/
.scroll-top.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.scroll-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 189, 161, 0.2);
  box-shadow: inset 0 0 0 2px rgba(0, 189, 161, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.scroll-top::after {
  position: absolute;
  font-family: "remixicon" !important;
  content: "\ea78";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: #00bda1;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.scroll-top svg.border-circle path {
  stroke: #00bda1;
  stroke-width: 4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.scroll-top svg path {
  fill: none;
}

.about__img-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1439px) {
  .about__img-wrapper {
    display: none;
  }
}
.about__img {
  position: relative;
  border-radius: 50%;
  max-height: 450px;
  margin: auto;
}
.about__sub-header {
  padding-bottom: 20px;
}
.about__details {
  padding-bottom: 26px;
}
.about__box-item {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.about-box-item__icon {
  font-size: 22px;
  color: #00bda1;
  font-weight: 500;
}
.about-box-item__text {
  padding-left: 16px;
  line-height: 24px;
}

.services {
  padding-top: 100px;
}
@media (max-width: 1439px) {
  .services {
    padding-top: 50px;
  }
}
.services__item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px 40px;
  background-color: black;
  box-shadow: 0px -8px 24px rgba(145, 158, 171, 0.08), 0px 16px 32px -4px rgba(145, 158, 171, 0.19);
  border-radius: 32px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 10;
}
.services__item * {
  color: #ffffff;
}
.services__item:hover {
  background: #FDE8CD;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.services__item:hover * {
  color: #212B36;
}
.services__item:hover .service__bg-img {
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.services__item:hover .service__img-wrapper {
  border: 2px solid transparent;
}
.services__item .service__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px;
  z-index: 1;
  opacity: 0.4;
  -moz-opacity: 0.4;
  -webkit-opacity: 0.4;
  filter: alpha(opacity=0.4);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.service__bg-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.service__content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.service__img {
  width: 60px;
  height: 60px;
  margin: auto;
}
.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  padding-left: 40px;
}
.service__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-top: 20px;
}
.service__img-wrapper {
  background-color: #00bda1;
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: relative;
  border-radius: 50px;
  border: 2px solid #ffffff;
}
@media (max-width: 1439px) {
  .service__img-wrapper {
    width: 75px;
    height: 75px;
  }
}
.service__img-wrapper img {
  filter: brightness(0) invert(1);
}

.review__header {
  position: relative;
}
.review__header h2 {
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.review__detail {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #18120e;
  -webkit-clip-path: polygon(12% 0, 100% 0, 100% 80%, 88% 100%, 0 100%, 0 20%);
  clip-path: polygon(12% 0, 100% 0, 100% 80%, 88% 100%, 0 100%, 0 20%);
  border-bottom: 1px solid #00bda1;
  border-top: 1px solid #00bda1;
}
.review__detail--bg-white {
  background-color: #ffffff;
}
.review__detail p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  position: relative;
  padding: 60px 40px;
}
.review__data h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 5px;
}
.review__data p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}
.review__slider {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.review__star-rating i {
  color: #FFB800;
  font-size: 24px;
}
.review__client-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}
.review__client-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.image-banner {
  position: relative;
  overflow: hidden;
  background-image: url(../images/banner/banner-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.image-banner > :before {
  position: absolute;
  content: "";
  width: 1000px;
  height: 500px;
  border-radius: 50%;
  bottom: 150px;
  left: -110px;
  background: #004f44;
  filter: blur(110px);
  opacity: 0.8;
  animation: top-bottom-animation 4s linear infinite alternate;
}
.image-banner__content {
  padding: 100px 0;
  position: relative;
}
@media (max-width: 1439px) {
  .image-banner__content {
    padding: 26px;
  }
}
.image-banner__title {
  color: #ffffff;
  padding-bottom: 80px;
  margin: 0;
}
@media (max-width: 1439px) {
  .image-banner__title {
    padding-bottom: 40px;
  }
}

.main-banner__content {
  position: relative;
  padding: 180px 0 100px 0;
}
@media (max-width: 1439px) {
  .main-banner__content {
    padding: 40px 0 0 0;
  }
}
.main-banner__header {
  color: #FDE8CD;
}
@media (max-width: 1439px) {
  .main-banner__header {
    display: block;
    margin-bottom: 1.5rem;
  }
}
.main-banner__title {
  padding: 10px 0 20px 0;
}
@media (max-width: 1439px) {
  .main-banner__title {
    font-size: 42px;
    line-height: 60px;
  }
}
.main-banner__desc {
  margin-bottom: 72px;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .main-banner__desc {
    line-height: 45px;
    margin-bottom: 55px;
  }
}

.pricing__header {
  text-align: center;
}
.pricing__sub-header {
  margin-bottom: 60px;
  color: #ffffff;
}
.pricing-item__product {
  position: relative;
}
.pricing-item__product:hover .pricing-item__img:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 28, 41, 0)), to(rgba(0, 134, 116, 0.5))) !important;
  background-image: -o-linear-gradient(top, rgba(234, 28, 41, 0) 0%, rgba(0, 134, 116, 0.5) 50%) !important;
  background-image: linear-gradient(180deg, rgba(234, 28, 41, 0) 0%, rgba(0, 134, 116, 0.5) 50%) !important;
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pricing-item__img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}
.pricing-item__img:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000)) !important;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%) !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) !important;
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pricing-item__img:after::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 28, 41, 0)), to(rgba(0, 189, 161, 0.5)));
  background-image: -o-linear-gradient(top, rgba(234, 28, 41, 0) 0%, rgba(0, 189, 161, 0.5) 50%);
  background-image: linear-gradient(180deg, rgba(234, 28, 41, 0) 0%, rgba(0, 189, 161, 0.5) 50%);
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pricing-item__img:hover img {
  transform: scale(1.2) rotate(4deg);
  -webkit-transform: scale(1.2) rotate(4deg);
  -moz-transform: scale(1.2) rotate(4deg);
  -ms-transform: scale(1.2) rotate(4deg);
  -o-transform: scale(1.2) rotate(4deg);
}
.pricing-item__img img {
  position: relative;
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.pricing-item__data {
  position: absolute;
  bottom: 14px;
  left: 20px;
  right: auto;
}
.pricing-item__plan {
  padding-left: 20px;
}
.pricing-item__list {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FDE8CD;
  margin-bottom: 40px;
}
.pricing-item__list li {
  list-style: none;
  padding-bottom: 10px;
}
.pricing-item__list li:before {
  content: "—";
  padding-right: 1rem;
}

.pricing-data__price {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 61px;
  color: #ffffff;
}
.pricing-data__title {
  color: #ffffff;
  padding-bottom: 6px;
  display: inline-block;
}
.pricing-data__month {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  display: inline-block;
  text-transform: initial;
}

.statistics__sub-header {
  color: #ffffff;
  padding-bottom: 1rem;
  margin: 0;
}
.statistics__content {
  position: relative;
  color: #ffffff;
}
.statistics__desc {
  color: #ffffff;
  margin-bottom: 60px;
}
.statistics__progress-counter {
  position: relative;
  margin-bottom: 40px;
}
.statistics__progress-counter:last-child {
  margin-bottom: 0;
}
@media (max-width: 1439px) {
  .statistics__exposition {
    margin-bottom: 42px;
  }
}
.statistics__exposition .progress-counter__title {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}
.statistics__exposition .progress-counter__value {
  top: 0px;
  margin-left: -20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
  position: absolute;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .statistics__exposition .progress-counter__value {
    position: relative;
    font-size: 16px;
  }
}
.statistics__exposition .progress-counter__count {
  color: #ffffff;
}
.statistics__exposition .progress-counter__skill-progressbar {
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  height: 2px;
}
.statistics__exposition .progress-counter__skill-progressbar span {
  height: 8px;
  background-color: #00927D;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.statistics__application-form .application-form {
  backdrop-filter: blur(10px);
  padding: 50px;
  background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.08) 100%);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 0px rgba(255, 255, 255, 0.32);
}
@media (max-width: 1439px) {
  .statistics__application-form .application-form {
    padding: 25px;
    backdrop-filter: unset;
    position: relative;
  }
}
.statistics__application-form .application-form__title h2 {
  text-align: center;
  color: #ffffff;
  margin: 0 0 1.5rem 0;
}
.statistics__application-form .application-form__form label {
  display: block;
}
.statistics__application-form .application-form__input-group {
  flex: 0 0 auto;
  width: 100%;
}
.statistics__application-form .application-form__input-wrap {
  margin-bottom: 20px;
}
.statistics__application-form .application-form__input {
  width: 100%;
  height: 60px;
  background: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  border: none;
  outline: none;
  padding: 20px 20px;
  border-radius: 10px;
}
.statistics__application-form .application-form__input--text {
  height: 60px;
}
.statistics__application-form .application-form__input--textarea {
  height: 138px;
}
.statistics__application-form .application-form__btn {
  width: 100%;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

/*@import "components/about";
@import "components/animation";
@import "components/appointment";
@import "components/banner";
@import "components/blog";
@import "components/button";
@import "components/counter";
@import "components/news-subscribe";
@import "components/preloader";
@import "components/pricing";
@import "components/schedule";
@import "components/scrollbar";
@import "components/scroller";
@import "components/service";
@import "components/testimonial";
@import "components/trainer";
@import "components/video";*/

/*# sourceMappingURL=style.css.map */
