.image-banner {
  position: relative;
  overflow: hidden;
  background-image: url(../images/banner/banner-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  > :before {
    position: absolute;
    content: "";
    width: 1000px;
    height: 500px;
    border-radius: 50%;
    bottom: 150px;
    left: -110px;
    background: #004f44;
    filter: blur(110px);
    opacity: 0.8;
    animation: top-bottom-animation 4s linear infinite alternate;
  }

  &__content {
    padding: 100px 0;
    position: relative;

    @include tablet {
      padding: 26px;
    }
  }

  &__title {
    color: #ffffff;
    padding-bottom: 80px;
    margin: 0;

    @include tablet {
      padding-bottom: 40px;
    }
  }
}

.main-banner {

  &__content {
    position: relative;
    padding: 60px 0 100px 0;

    @include tablet {
      padding: 40px 0 0 0;
    }
  }

  &__header {
    color: $beige-primary;
    margin-bottom: 1rem;
    display: block;
  }

  &__title {
    padding: 10px 0 20px 0;

    @include tablet {
      font-size: 42px;
      line-height: 60px;
    }
  }

  &__desc {
    margin-bottom: 72px;
    color: #ffffff;

    @include tablet {
      line-height: 45px;
      margin-bottom: 55px;
    }
  }
}