.footer {
  background-image: url(../images/footer/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 240px 0 100px 0;

  @include tablet {
    padding: 50px 0 50px 0;
  }

  &__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  &__brand-logo {
    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet {
      margin-bottom: 20px;
    }

    &:after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid $grey-light;

      @include tablet {
        position: relative;
        width: 200px;
        height: 1px;
        background: $grey-light;
        margin-top: 50px;
        border: none;
      }
    }

    img {
      max-height: 150px;
      margin: -2.5rem auto 1.5rem auto;

      @include tablet {
        max-height: 75px;
      }
    }
  }

  &__place-detail {
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    color: #ffffff;

    @include tablet {
      height: 30px;
      line-height: 50px;
    }
  }

  .place-detail {
    color: #ffffff;

    &__icon {
      font-size: 70px;

      @include tablet {
        font-size: 30px;
      }
    }
  }

  &__detail-value {
    margin: 40px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white-dark;

    a {
      color: $white;
    }

    @include tablet {
      margin-top: 20px;
    }
  }

  &__item {
    text-align:center;

    @include tablet {
      margin-bottom: 20px;
    }

    a:hover {
      color: $green-primary;
    }
  }

  &__sub-footer {
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 40px;
      flex-direction: column;
    }
  }

  &__copyright {

    .copyright {

      &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $white-dark;
        margin: 0;
      }
    }
  }

  &__copyright-privacy {

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .copyright-privacy {

      &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        @include tablet {
          color: $white;
          margin-top: 18px;
        }

        &:hover{
          color: $green-primary;
        }
      }

      &__separator {
        margin: 0 15px;
        color: #ffffff;
        font-weight: 400;

        @include tablet {
          display: none;
        }
      }
    }
  }
}